<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">My Tasks</a></li>
            <li role="presentation"><a href="http://localhost:8030">My Balance</a></li>
            <li role="presentation"><a href="/create">Create New</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout as <%= locals.user.username %></a></li>
        </ul>
    </nav>
    <h3 class="text-muted">Tasks</h3>
</div>